:root {
  --main-bg: rgb(255, 255, 255);
  --text: #333;
  --border: rgb(231, 231, 231);
  --link: rgb(0, 0, 124);
  --date: #333;
  --time: #333;
  --requires-list: #333;
  --footer-bg: white;
  --icon: rgb(121, 121, 121);
  --pending: rgb(228, 228, 49);
}
