@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.card {
  margin: 100px auto;
  border-radius: 20px;
  width: 500px;
  border: 4px solid var(--border);
  background-color: var(--main-bg); 
  color: var(--text);
}

/* HEADER */
.card-header {
  padding: 20px;
}

.card-header-top {
  display: flex;
  justify-content: space-between;
}

.card-date {
  font-size: 1.75em;
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  color: var(--date);
}

.card-status {
  margin-top: 6px;
  font-weight: 400;
}

.card-status span {
  font-size: 1.3em;
  padding: 10px;
  border-radius: 13px;
  text-transform: uppercase;
}

.card-status .pending {
  background-color: var(--pending);
}

.card-time {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--time);
}

.card-time i {
  color: var(--icon);
}

.card-place {
  display: flex;
}

.card-place-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  margin-right: 5px;
  color: var(--icon);
}

.card-place-text {

}

.card-place-name {
  font-size: 1.25em;
  font-weight: 400;
}

.card-place-address {
  font-weight: 300;
}

/* REQUIRES */
.card-requires {
  border-top: none;
  padding: 20px;
  padding-top: 10px;
}

.card-requires-section-name {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-requires-list {
  list-style: disc;
  margin-left: 22px;
}

.requires-item {
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--requires-list);
}

/* REQUEST */
.card-request {
  padding: 20px;
  padding-top: 10px;
  border-top: none;
  font-weight: 300;
  font-size: 1.1em;
}

.card-request a,
.card-footer a {
  text-decoration: none;
  color: var(--link);
}

.card-request-users {
  margin-bottom: 5px;
}

.card-request-first {

}

/* FOOTER */
.card-footer {
  border-top: none;
  padding: 10px;
  padding-right: 20px;
  text-align: right;
  font-weight: 300;
  background-color: var(--footer-bg);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}





