@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  grid-gap: 20px;
}

.card {
  border-radius: 20px;
  min-width: 230px;
  border: 2.5px solid var(--border);
  background-color: var(--main-bg); 
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.card-header {
  padding: 20px;
  border-bottom: 1px solid var(--border);
}

.card-header-top {
  display: flex;
  justify-content: space-between;
}

.card-date {
  font-size: 1.75em;
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  color: var(--date);
}

.card-status {
  margin-top: 8px;
  font-weight: 400;
}

.card-status span {
  font-size: 1.3em;
  padding: 10px;
  border-radius: 13px;
  text-transform: uppercase;
}

.card-status .pending {
  background-color: var(--pending);
}

.card-status .submitted {
  background-color: var(--submitted);
}

.card-status .paid {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--paid);
}

.card-time {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--time);
}

.card-time span {
  font-size: 0.7em;
  font-weight: 400;
}

.card-time i {
  color: var(--icon);
  margin-left: 1.5px;
  margin-right: 3px;
}

.card-place {
  display: flex;
}

.card-place-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  margin-right: 10px;
  color: var(--icon);
}

.card-place-text {

}

.card-place-name {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 2px;
}

.card-place-address {
  font-weight: 300;
}

/* REQUIRES */
.card-requires {
  padding: 20px;
  padding-top: 20px;
  border-bottom: 1px solid var(--border);
}

.card-requires-section-name {
  display: flex;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-requires-list {
  list-style: disc;
  margin-left: 22px;
}

.requires-item {
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--requires-list);
}

/* REQUEST */
.card-request {
  padding: 20px;
  border-top: none;
  font-weight: 300;
  font-size: 1.1em;
}

.card-request a,
.card-footer a {
  text-decoration: none;
  color: var(--link);
}

.card-request-users {
  margin-bottom: 5px;
}

/* FOOTER */
.card-footer {
  border-top: none;
  padding: 10px;
  padding-right: 20px;
  text-align: right;
  font-weight: 300;
  background-color: var(--footer-bg);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 0.8em;
}

@media (max-width: 920px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(410px, 540px));
  }
}

@media (max-width: 480px) {
 
  .card {
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
  }

  .cards-container {
    display: block;
  }

  body {
    margin: 0;
    font-size: 16px;
  }
}

@media (max-width: 370px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 8px;
  }
}




